.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.parent-container {
    width: 50%;
    height: 500px;
    border: 1px solid rgb(227, 224, 224);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.child-container1 {
    width: 90%;
    height: 80px;
    /* border: 1px solid rgb(227, 224, 224); */
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 10px; */
}
.child-container2 {
    width: 90%;
    height: 80%;
    border: 1px solid rgb(227, 224, 224);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
        border: 1px solid rgb(227, 224, 224);
        width: 50%;
        height: inherit;
        border-radius: 10px;
        text-align: center;
    }
}
.options {
    width: 10rem;
    border: 1px solid rgb(227, 224, 224);
    border-radius: 10px;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
}
.options:hover {
    background-color: rgb(216, 207, 207);
}

.userlist{
    width: 20%;
    height: 500px;
    border: 1px solid rgb(227, 224, 224);
    margin: 1rem;
    border-radius: 10px;
}




@media screen and (max-width: 550px) {
    .parent-container {
        width: 80%;
        height: 500px;
        border: 1px solid rgb(227, 224, 224);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}